body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFCC00;
    color: #D40511;
    text-align: center;
    margin: 0 auto;
    height: 75px;
}

header h2 {
    padding: 10px;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

div.card {
    background-color: #eeeeee;
    height: 350px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
}

p {
    font-size: .75em;
    color: black;
    font-family: Helvetica;
}
ul {
    padding: 20px;
}
tr {
    padding: 20px;
}

li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
    text-align: center;
}

button {
    font-size: 1em;
    color: #FFCC00;
    background-color: #D40511;
    border-radius: 10px;
    padding-bottom: 5px;
}

button.release {
    float: right;
    background-color: #E1332D;
}

@media only screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 850px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}